<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<head>
    <title>
        <% if (is_post()) { %>
            <%= page.title %> | <%= config.title %>
        <% } else if (is_home()) { %>
            <%= config.title ? config.title : 'Nemophila' %>
        <% } else if (is_category()) { %>
            <%= page.category %> | <%= config.title %>
        <% } else { %>
            <%= page.title %> | <%= config.title %>
        <% } %>
        
    </title>
    <meta charset="UTF-8">
    <link rel="icon" href="<%= url_for('ico/Nemo.svg')  %>" />
    <%- css('css/style.css') %>
    <%- css('css/all.min.css') %>
    <!-- 引入LaTex支持css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css">
    <!-- 引入APlayer支持css和js -->
    <%- css('css/APlayer.min.css')  %>
    <%- js('js/APlayer.min.js')  %>
    <!-- 引入Linking -->
    <%- js('js/linking.js') %>
    <!-- 引入vercount计数器 -->
    <script defer src="https://events.vercount.one/js"></script>
    <script>
        let HEXO_SETTINGS = {
            root: "<%- config.root %>", 
            url: "<%- config.url %>",
            author: "<%- config.author %>"
        };

        let THEME_SETTINGS = {
            lazyload: {
                enable: <%- theme.lazyload && theme.lazyload.enable ? 'true' : 'false' %>,
                loading_img: "<%- theme.lazyload && theme.lazyload.loading_img ? theme.lazyload.loading_img : '/images/yachiyo_loading_640.webp' %>"
            },
            };        
    </script>
</head>

<!-- TODO: 添加控制台字符画 -->