<head>
    <title>Nemophila</title>
    <meta charset="UTF-8">
    <%- css('css/style.css') %>
    <%- css('css/all.min.css') %>
    <script>
        let HEXO_SETTINGS = {
            root: "<%- config.root %>", 
            url: "<%- config.url %>",
            author: "<%- config.author %>"
        };
    </script>
</head>