<head>
    <title>Nemophila</title>
    <meta charset="UTF-8">
    <%- css('css/style.css') %>
    <%- css('css/all.min.css') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css">
    <!-- <link rel="preload" href="fonts/AbrilFatface-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/CormorantGaramond-BoldItalic.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="preload" href="fonts/NotoSerifSC-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous"> -->
    <script>
        let HEXO_SETTINGS = {
            root: "<%- config.root %>", 
            url: "<%- config.url %>",
            author: "<%- config.author %>"
        };

        let THEME_SETTINGS = {
            lazyload: {
                enable: <%- theme.lazyload && theme.lazyload.enable ? 'true' : 'false' %>,
                loading_img: "<%- theme.lazyload && theme.lazyload.loading_img ? theme.lazyload.loading_img : '/images/yachiyo_loading_640.webp' %>"
            },
            };        
    </script>
</head>