 <% 
    let navtheme = className || '';
 %>

<nav class="navbar <%= navtheme %>">
    <a href="<%- url_for('/') %>" style="text-decoration: none;">
        <h1 class="title <%= navtheme %>"><%= theme.title ? theme.title : 'Nemophila' %></h1> 
    </a>
    <div class="navlink <%= navtheme %>">
        <% for (let link in theme.menu) { %>
            <div class="nav-item-container <%= navtheme %>">
                <a href="<%- theme.menu[link].path ? url_for(theme.menu[link].path) : 'javascript:void(0)' %>" class="navlink-item <%= navtheme %>">
                    <div class="nav-icon <%= navtheme %>" 
                        style="-webkit-mask-image: url('<%- url_for(theme.menu[link].icon) %>'); mask-image: url('<%- url_for(theme.menu[link].icon) %>');">
                     </div>
                    <span><%= link %></span>
                    
                    <% if (theme.menu[link].submenu) { %>
                        <i class="fa-solid fa-angle-down fa"></i>
                    <% } %>

                </a>
                
                <% if (theme.menu[link].submenu) { %>
                    <div class="nav-item-submenu <%= navtheme %>">
                        <% for (let sublink in theme.menu[link].submenu) { %>
                            <% let path = ""; %>
                            <% let item = theme.menu[link].submenu[sublink]; %>
                            <% if (item.type === 'page') { %>
                                <% path = url_for(item.path); %>
                            <% } else if (item.type === 'link') { %>
                                <% path = item.path; %>
                            <% } %>
                            <a href="<%= path %>">
                                <% if (item.icon) {%>
                                    <i class="<%= item.icon %>" style="transform: translateY(15%); font-size: 14px;"></i>
                                <% } %>
                                <span data-content="<%= sublink %>"><%= sublink %></span>
                                
                            </a>
                        <% } %>
                    </div>
                <% } %>

            </div>
        <% } %>
        <a href="<%- url_for(theme.rss.path) %>" class="navlink-rss <%= navtheme %>">
            <div class="nav-icon <%= navtheme %>" 
                style="-webkit-mask-image: url('<%- url_for(theme.rss.icon) %>'); mask-image: url('<%- url_for(theme.rss.icon) %>');">
            </div>
        </a>
    </div>
    <a href="<%- url_for('search') %>" class="search <%= navtheme %>">
        <div class="nav-icon <%= navtheme %>" 
            style="-webkit-mask-image: url('<%- url_for('ico/navbar/search.svg') %>'); mask-image: url('<%- url_for('ico/navbar/search.svg') %>');">
        </div>
    </a>
    
</nav>